{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
		<a href="/artists/{{artist.id}}/edit"><button class="fas fa-edit" id="{{ artist.id }}"></button></a>
		<a href="/artists/{{artist.id}}/delete"><button class="del-btn" id="{{ artist.id }}">&cross;</button></a>			
	</li>
	{% endfor %}
</ul>
{% endblock %}